* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: hsl(225, 100%, 94%);
    background-image:url("/imgs/pattern-background-desktop.svg");    
    background-repeat: no-repeat;
    background-size: 100%;
}

.card {
    
}